.persion{
    display: inline;
}
.persion p{
    float: left;
    margin-left: 100px;
}
.persion p:first-child{
    margin-left: 0px;
}
.claerfloat:after{
    content: '.';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.eamil{
    display: inline;
}
.eamil p{
    float: left;
    margin-left: 100px;
}
.eamil p:first-child{
    margin-left: 0px;
}

.skills{
    display: inline;
}   
.skills h4:first-child{
   margin-bottom: 10px;
}
.skills p{
    line-height: 1px;
}
.aside{
    height: 600px;
    float: left;
    width: 200px;
    background: blue;
}
.aside h1{
    color: antiquewhite;
    font-size: 36px;
    text-align: center;
}
.content-right{
    float: left;
    padding-left: 40px;
}